<a href="https://colab.research.google.com/github/arturl1910/PA_python/blob/main/Aula_PA_1C/11_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

nome: Artur Miguel
Turma: Manhã

In [10]:
nome = "Artur Miguel"
Turma = "Manhã"

In [11]:

# Exercício 2 -Apos inserir dados acima usando o slicing (exemplo no notebook de manipulação de Strings), imprima na tela apenas seu sobrenome
print(nome[5::])

 Miguel

In [14]:
# Exercício 3 -  imprima seu nome de trás pra frente
print(nome[::-1])

leugiM rutrA

In [12]:

# Exercício 4 - pegue a frase abaixo, aplique o split para fazer uma quebra toda vez que encontrar uma ","
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."
frase.split(',')

['Python é a linguagem ideal para o primeiro contato com programação',
 ' além da sua sintaxe simples e muito poderosa',
 ' Python tem diversas aplicações como: desenvolvimento web',
 ' análise de dados',
 ' inteligência artificial e automatização de tarefas',
 ' neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem',
 ' a comunidade Python é a que mais cresce',
 ' assim como sua demanda de profissionais no mercado.']

In [49]:
lista={1,2,3,4,5,6,7,8,9,10}
for lista in lista:
  print(lista)

1
2
3
4
5
6
7
8
9
10

In [21]:
# Exercício 6 - Crie uma lista de 5 objetos e imprima na tela
objetos=['lapis, borracha, apontador, mouse, computador']

In [40]:
for objetos in objetos:
  print(objetos)

lapis, borracha, apontador, mouse, computador

In [38]:
# Exercício 7 - - Crie duas strings e concatene as duas em uma terceira string
s = 'santos'

In [42]:
s +  ' botafogo '

'santos botafogo '

In [44]:
s1 = 'flamengo'

In [46]:
s= s+ ' botafogo '

In [47]:
print (s)

santos botafogo

In [48]:
# Exercício 8 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
tupla.count(4)

3

Dicionario

In [92]:
meudicionario={

}

In [66]:
# Exercício 10 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
meudicionario={
    "nome":"artur",
    "idade":"15",
    "notas":"10, 9, 8"
}

print(meudicionario)

{'nome': 'artur', 'idade': '15', 'notas': '10, 9, 8'}

In [70]:
meudicionario["time"]="guarani"

In [71]:
# Exercício 11 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
print(meudicionario)

{'nome': 'artur', 'idade': '15', 'notas': '10, 9, 8', 'time': 'guarani'}

In [73]:
# Exercício 12 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos.
dicionario={
    "nome":"artur",
    "idade":"15",
    "aniversário":"30,07"
}

In [75]:
print(dicionario)

{'nome': 'artur', 'idade': '15', 'aniversário': '30,07'}

In [83]:

# Exercício 13 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
lista = [
    "Olá",
    (10, 20),
    {"nome": "Be", "idade": 36},
    3.14
]

In [84]:
print(lista)

['Olá', (10, 20), {'nome': 'Be', 'idade': 36}, 3.14]

In [85]:
# Exercício 14 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais legal do século XXI'
print(frase[1:18])

ientista de Dados

Exercícios de Manipulação de Strings

In [86]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(len(x))

11

In [87]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
x = txt[0]
print(x)

H

In [88]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [89]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
x = txt.upper()
print(x)

HELLO WORLD

In [90]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.count('de')

3

In [91]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.split(',')

['Eu gosto de vijar',
 ' tomar vinho',
 ' de estudar estudar programação',
 ' de estudar Pyhon']